<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="MainApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/img/hearticon.png" type="image/x-icon" >
	<title class="love" style="color:#ff6032">eVoting</title>

	<!-- CSS -->
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- JavaScript -->
	<script src="/bower_components/angular/angular.min.js"></script>							<!-- Angular -->
	<script src="/bower_components/angular-route/angular-route.min.js"></script>
	<script src="/bower_components/ngstorage/ngStorage.min.js"></script>

	<script src="/bower_components/jquery/dist/jquery.min.js"></script>						<!-- Jquery -->
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>	<!-- Boostrap -->
	<script src="/bower_components/big-integer/BigInteger.min.js"></script>				<!-- BigInteger -->
	<script src="/bower_components/file-saver/FileSaver.min.js"></script>					<!-- File Saver -->

	<!-- Own scripts -->
	<script src="/scripts/big-integer-extended.js" type="text/javascript"></script>
	<script src="/scripts/rsa-big-integer.js" type="text/javascript"></script>

	<!-- WEB Desing -->
	<link rel="stylesheet" href="/css/index.css">
	<script src="/views/censo/index.js"></script>

	<!-- Controlers
	<script src="/views/censo/index.js">
	-->

</head>
<base href="/">

<body ng-controller="mainController">

	<div id="contenedor" class="container">
		<div notifybar style="position:absolute;top:0;right:0"></div>

<!-- NAV BAR -->
		<nav id="cabecera" class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand">I <span class="love" style="color:#ff6032">♥</span> eVoting</a>
				</div>
			</div>
		</nav>

		<div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title" id="myModalLabel">Bienvenido al Censo Electoral</h3>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="well">
                          <form id="loginForm">
                              <div class="form-group">
                                  <label for="username" class="control-label">DNI</label>
                                  <input type="text" class="form-control" id="username" name="username" autocomplete="on" required="" ng-model="login.username" title="Please enter your NIF">
																	<span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <label for="password" class="control-label">Contraseña</label>
                                  <input type="password" class="form-control" id="password" name="password" autocomplete="on"  required="" title="Please enter your password" ng-model="login.password">
                              </div>
                              <div id="alert" class="alert alert-warning text-center"  ng-show="showAlert">
																<strong>Alerta!</strong> {{alertText}}</div>
                              <button type="submit" class="btn btn-success btn-block" ng-click="logIn()" ng-disabled="!login.username || !login.password">Login</button>
                          </form>
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <p class="lead">Información:</p>
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="fa fa-check text-success"></span> Obtención de ID Anónima de votante</li>
                          <li><span class="fa fa-check text-success"></span> Obtención de credenciales</li>
													<p>
                          <li class="text-center" style="font-size: 10px"> Para más información contacte con el Ministerio</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
	</div>

</body>
</html>
