#contenedor{
  padding-top: 10px;
}
#cabecera{
  background-color: rgb(187,232,99);
}

#alert{
  font-size: 10px;
}
#alert2{
  font-size: 15px;
}

#footer {
  padding-bottom: 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#censo {
  background-image: url('/img/censo.jpg');
}
#urna {
  background-image: url('/img/urna.jpg');
}
#mesa_electoral {
  background-image: url('/img/mesaelectoral.jpg');
}
.btn_index{
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
.navbar-brand{
    color: white;
}

/* URNA */
.btn-radio {
  width: 100%;
}
.img-radio {
  opacity: 0.5;
  margin-bottom: 5px;
}

.space-20 {
  margin-top: 20px;
}

/*Resultados elecciones */
