

	<div id="contenedor" class="container">
		<div notifybar style="position:absolute;top:0;right:0"></div>

<!-- NAV BAR -->
		<nav id="cabecera" class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand">I <span class="love" style="color:#ff6032">♥</span> eVoting</a>
				</div>
			</div>
		</nav>



		<div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title" id="myModalLabel">Bienvenido al Censo Electoral</h3>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="well">
                          <form id="loginForm">
                              <div class="form-group">
                                  <label for="username" class="control-label">DNI</label>
                                  <input type="text" class="form-control" id="username" name="username" autocomplete="on" required="" ng-model="login.username" title="Please enter your NIF">
																	<span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <label for="password" class="control-label">Contraseña</label>
                                  <input type="password" class="form-control" id="password" name="password" autocomplete="on"  required="" title="Please enter your password" ng-model="login.password">
                              </div>
                              <div id="alert" class="alert alert-warning text-center"  ng-show="showAlert">
																<strong>Alerta!</strong> {{alertText}}</div>
                              <button type="submit" class="btn btn-success btn-block" ng-click="logIn()" ng-disabled="!login.username || !login.password">Login</button>
                          </form>
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <p class="lead">Información:</p>
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="fa fa-check text-success"></span> Obtención de Identidad Anónima de votante</li>
                          <li><span class="fa fa-check text-success"></span> Obtención de credenciales</li>
                          <li><span class="fa fa-check text-success"></span> Para más información contacte con el Ministerio</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>






<!-- Botons

		<div idclass="row">
			<div class="col-md-4 text-center">
				<button id="censo" type="button" class="btn_index" href="#censo"></i></button>
				<p> CENSO ELECTORAL </p>
			</div>
			<div class="col-md-4 text-center">
				<button id="urna" type="button" class="btn_index"  href="urna.html"></i></button>
				<p> URNA </p>
			</div>
			<div class="col-md-4 text-center">
				<button id="mesa_electoral" type="button" class="btn_index"  href="melectoral.html"></button>
				<p> MESA ELECTORAL </p>
			</div>
		</div>
 Botons -->

		<div class="row">
			<div class="panel panel-primary">
				<!-- Default panel contents -->
				<div class="panel-heading">Censo</div>
				<div class="panel-body">
					<p>
					<div class="col-sm-6 col-sm-offset-1 text-center">
						<!--<button type="submit" class="btn btn-success btn-lg" ng-click="getCensoKeys()" >PedirClaves</button>-->
						<button type="submit" class="btn btn-warning btn-lg" ng-click="createOurKey()">Create My Keys</button>
						<p>
						<button type="submit" class="btn btn-danger btn-lg" ng-click="getAnonimID()">Create Anonim ID</button>
					</div>
					</p>
				</div>
			</div>


		<div class="panel panel-success">
			<!-- Default panel contents -->
			<div class="panel-heading">Urna</div>

			<div class="col-sm-6 col-sm-offset-1">
				<table class="table table-striped">
					<tr ng-repeat="user in users" >
						<td>{{ user }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	</div>
